body {
    margin: 0;
}

h1 {
    margin: 0;
}

.app-title {
    font-size: 4rem;
    padding: 1rem
}

#right-side-container {
    display: none;
}

#five-day div {
    flex-wrap: wrap;
    align-items: end;
}

.card-body {
    padding: 1rem 0;
}

#whole-wrapper {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .app-title {
        font-size: 2rem;
    }
}